.search-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.search-container1 {
  width: 100%;
  height: 750px;
  padding: 45px;
  display: flex;
  margin: auto;
  align-items: flex-start;
  flex-direction: column;
}
.search-container2 {
  width: 100%;
  border-width: 0px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.search-textinput {
  width: 75%;
  height: 45px;
  z-index: 100;
  display: block;
  margin: auto;
  text-align: left;
  border-width: 1px;
  border-color: rgb(173, 168, 168);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-radius: 8px;
  list-style-type: disc;
  background-color: transparent;
  list-style-image: none;
  list-style-position: outside;
}
.search-icon {
  width: 94px;
  height: 86px;
}

.search-button {
  flex: 0 1 auto;
  width: 150px;
  height: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.zillow-checkbox {
  flex: 0 1 auto;
  width: 160px;
  height: 100px;
  margin-left: auto;
  padding-top: 5px;
}

.search-zillow-container{
  display: flex;
  justify-content: flex-start;
  width: 80%;
  height: 50px;
  padding: 10px;
}

.card {
  position:relative;
  display:flex;
  flex-direction:column;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: flex;
  word-wrap:break-word;
  background-color:#fff;
  background-clip:border-box;
  padding: 5px;
  border-color: rgb(173, 168, 168);
  box-shadow: 5px 5px 12px 2px #d4d4d4;
  border-radius: 8px;
  transition: 0.3s;
}

.card-large {
  position:relative;
  display:flex;
  flex-direction:column;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: flex;
  word-wrap:break-word;
  background-color:#fff;
  background-clip:border-box;
  padding: 5px;
  border-color: rgb(173, 168, 168);
  box-shadow: 5px 5px 12px 2px #d4d4d4;
  border-radius: 8px;
  transition: 0.3s;
}

.card-body{
  flex:1 1 auto;
  padding:1rem 1rem
}

.card-title{
  margin-bottom:.5rem
}

.card-text:last-child {
  margin-bottom:0
}

.card-link {
  margin-left:1rem
}

.card-subtitle {
  margin-top:-.25rem;
  margin-bottom:0
}

.result-cards {
  width: 100%;
  height: flex;
  padding-top: 20px;
  padding-left: 45px;
  padding-right: 45px;
  display: flex;
  margin: auto;
  align-items: flex-start;
  flex-direction: column;
}

.card-img-top {
  width: 100%;
  height: 8vw;
  border-radius: var(--dl-radius-radius-radius4);
  object-fit: cover;
}

.card-img-top-large {
  width: 100%;
  height: 15vw;
  border-radius: var(--dl-radius-radius-radius4);
  object-fit: cover;
}

.card-button {
  color: #191919;
  margin-top: 5px;
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  line-height: 1;
  border-color: transparent;
  border-radius: var(--dl-radius-radius-radius4);
  background-color: rgba(0, 0, 0, 0.1);
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color:rgb(181, 175, 173);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgb(137, 75, 53);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}