.footer-top-part {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.footer-links-container {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text {
  color: var(--dl-color-scheme-brown);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-text01 {
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.footer-navigate-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text04 {
  color: var(--dl-color-scheme-brown);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.footer-contact-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text08 {
  color: var(--dl-color-scheme-brown);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.footer-subscribe-container {
  flex: 0 0 auto;
  width: 35%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text16 {
  color: var(--dl-color-scheme-brown);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-textinput {
  outline: none;
  align-self: stretch;
  padding-top: 4px;
  border-color: rgba(0, 0, 0, 0.1);
  padding-left: 0px;
  border-radius: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  padding-bottom: 4px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.footer-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: #D9D9D9;
}
.footer-max-width1 {
  flex-direction: row;
  justify-content: space-between;
}
.footer-text18 {
  align-self: center;
}
.footer-text21 {
  font-weight: 700;
}





@media(max-width: 767px) {
  .footer-top-part {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-links-container {
    width: 100%;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    flex-direction: row;
  }
  .footer-subscribe-container {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .footer-top-part {
    align-items: center;
    flex-direction: column;
  }
  .footer-contact-container {
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .footer-max-width1 {
    flex-direction: column;
  }
  .footer-text18 {
    text-align: center;
  }
}
